/* Import all of Bootstrap's CSS */
@import "~bootstrap/scss/bootstrap.scss";

/* Import the LUX styles */
@import "lux-design-system/dist/style.css";

a {
  color: rgb(12, 7, 150);
}

#banner a {
  color: #f58025;
}

.page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.faq-section {
  background-color: #F3F3F3;
  padding: 2rem 20vw;
}

.accordion-body {
  border-left: 2px solid #E77500;
  margin: 1rem 0 1rem 2rem;
}

.accordion-body p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
}

.accordion-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.accordion {
  --bs-accordion-btn-bg: #f3f3f3;
  --bs-accordion-active-bg: #f3f3f3;
  --bs-accordion-btn-focus-box-shadow: #f3f3f3;
  --bs-accordion-bg: #f3f3f3;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-color: #ccc;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-icon-width: 25px;
}

.line-userpage {
  background-color: #E77500;
  width: 80%;
  height: 3px;
  margin: 2vh 0;
}

#login-section {
  padding: 2rem 2rem 2rem 3rem;
  background-size: cover;
  height:370px;
  background-image: url('~/images/info-section-banner-v3.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  min-width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info-box {
  background-color: #000;
  border: solid 1px #595959;
  width: 710px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 710px;
}

#text-box {
  width: 60%;
  margin: 4rem 1.8rem 3rem 2rem;
}

#text-box p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

#login-button {
  box-shadow: 10px 10px #E57401;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #fff;
  border: none;
  padding: 0.7rem 2.4rem;
  height: 3.5rem;
  margin-right: 2rem;
}

#text-box,
#login-button {
  display: inline-block;
}

.line {
  background-color: #E77500;
  width: 100%;
  height: 3px;
  margin: 2vh 0;
}

h1 {
  margin: 2rem 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.info-component {
  margin: 5vh 5vw 5vh 5vw;
}

.info-component p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

#info-section {
  display: flex;
  flex-direction: row;
}

#help-section {
  padding: 2.5rem 0 2rem 0;
  background-color: #F3F3F3;
}

#help-text {
  padding-top: 0.9rem;
  width: 45vw;
  min-width: 220px;
}

#help-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

#help-text a {
  color: #004D99;
}

.help-contents {
  margin-left: 10vw;
}

#help-title,
.project-title,
.info-title,
#sponsors-title,
#faq-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

#help-section-user {
  padding: 2.5rem 0 2rem 0;
  background-color: #000;

  a {
    color: #fff;
  }

  #help-text p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }

  h2 {
    color: white;
  }
}

.sponsors-component {
  margin: 5vh 5vw 5vh 5vw;
}

.sponsors-component img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#sponsors-display {
  display: grid;
  grid-template-columns: 45% 45%;
  flex-direction: row;
}

#sponsors-section {
  margin: 5vh 5vw 5vh 5vw;
}

.navbar-princeton-logo {
  margin-left: 1em;
  text-decoration: none;
}

.navbar-princeton-logo img {
  height: 3em;
}

.navbar-logo {
  margin-left: 1em;
}

.user-info {
  float: right;
  margin-right: 1em;
}

button.log-in-orcid {
  padding: 0.5em;
  background-color: white;
  color: black;
  border-color: black;
  margin: 1em;
  border-radius: 0.5em;
}

/* Add this to align vertically */
button>img,
button>span {
  vertical-align: middle;
}

#banner {
  text-align: center;
  background-color: #000000;
  padding: 20px 0px 10px 0px;
  border-bottom: #f58025 solid 2px;
  color: #f58025;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}

.full_orcid_display img {
  width: 2em
}

@font-face {
  font-family: 'princetonmontidsregular';
  src: url('/fonts/princmonds-webfont.woff2') format('woff2'),
    url('/fonts/princmonds-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'princetonmontidsregular', Arial, sans-serif;
}

@media (max-width: 810px) {
  #info-section {
    display: flex;
    flex-direction: column;
  }

  .info-component {
    margin: 5vh 10vw 5vh 10vw;
    min-width: 340px;
  }

  #what-is-orcid {
    margin-bottom: 0;
  }
}

@media (max-width: 775px) {
  #info-box {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }

  #text-box {
    margin: 2.5rem 2.5rem 1rem;
    text-align: center;
  }

  #login-button {
    margin: 0 0 2.5rem;
    box-shadow: 10px 10px #E57401;
    padding: 0.7rem 2.4rem;
    height: 3.5rem;
  }
}

@media (max-width: 480px) {
  #login-section {
    overflow: auto;
    padding: 2rem 2rem 2rem 3rem;
  }
}