@import "../../assets/stylesheets/application.css";

.navbar-princeton-logo{
    margin-left: 1em;
    text-decoration: none;
}
.navbar-princeton-logo img{
    height: 3em;
}

.navbar-logo {
    margin-left: 1em;
}

.user-info {
    float: right;
    margin-right: 1em;
}

button.log-in-orcid {
    padding: 0.5em;
    background-color: white;
    color: black;
    border-color: black;
    margin: 1em;
    border-radius: 0.5em;
}
  
/* Add this to align vertically */
button > img,
button > span {
vertical-align: middle;
}