@import "../../assets/stylesheets/application.css";

.navbar-princeton-logo{
    margin-left: 1em;
    text-decoration: none;
}
.navbar-princeton-logo img{
    height: 3em;
}

.navbar-logo {
    margin-left: 1em;
}

.user-info {
    float: right;
    margin-right: 1em;
}

button.log-in-orcid {
    padding: 0.5em;
    background-color: white;
    color: black;
    border-color: black;
    margin: 1em;
    border-radius: 0.5em;
}
  
/* Add this to align vertically */
button > img,
button > span {
vertical-align: middle;
}

#banner {
    text-align: center;
    background-color: #000000;
    padding: 20px 0px 10px 0px;
    border-bottom: #f58025 solid 2px;
    color: #f58025;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
    }
  }
  .full_orcid_display img{
    width: 2em
  }
  @font-face {
    font-family: 'princetonmontidsregular';
    src: url('/fonts/princmonds-webfont.woff2') format('woff2'),
         url('/fonts/princmonds-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  p { font-family: 'princetonmontidsregular', Arial, sans-serif; }