<div class="faq-section">
    <h2 id="faq-title">FAQs</h2>
        <div class="line-userpage" ></div>
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('orcid')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        What is ORCID?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p><a href="https://orcid.org/">ORCID</a> provides a unique digital persistent identifier (an ORCID iD) that you own and control throughout your scholarly career (i.e., at Princeton and elsewhere), and that distinguishes you from every other researcher. Using an ORCID iD allows your manuscripts, grants, and other scholarship to be more discoverable and integrated within larger research networks.
                        Using an ORCID iD can also help you comply with funder/sponsor requirements (particularly federal grantmaking agencies’ policies) related to both open science and research security. This is as per recent Office of Science and Technology Policy OSTP <a href="https://www.whitehouse.gov/wp-content/uploads/2022/08/08-2022-OSTP-Public-access-Memo.pdf">guidance</a> and National Security Presidential Memorandum 33 <a href="https://www.whitehouse.gov/wp-content/uploads/2022/01/010422-NSPM-33-Implementation-Guidance.pdf">(NSPM-33)</a>.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('no_id')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        What if I don’t have an ORCID iD?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Anyone who participates in research, scholarship, or innovation can register an ORCID iD for themselves free of charge, and you can use the same iD throughout your whole career, even if your name changes or you move to a different organization, discipline, or country. Having an ORCID iD can help you be visible in the worldwide scholarly community, manage the data associated with your scholarly activities in one electronic repository, readily create CVs and comply with sponsors’ requirements.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('multi_id')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        What do I do if I have more than one ORCID iD?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>You can quickly and easily remove your duplicate record by going to your <a href="https://orcid.org/account">Account Settings</a> and selecting Remove duplicate record. You will then be prompted to enter in the email address or ORCID iD of the duplicate record, as well as the password.
                        When the duplicate record is removed, the email address attached to it will be added to your primary ORCID record, and all other information on the record will be deleted.
                        For more information, please see <a href="https://support.orcid.org/hc/articles/360006896634">removing your additional or duplicate ORCID iD</a>.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('trusted_org')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        What is a “Trusted Organization”?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>When you connect your ORCID iD to another organization’s system (e.g., a scholarly journal’s system), you will be asked to grant permission to that organization to interact with your ORCID account.
                        When you grant permission, that organization becomes a trusted organization and is listed in your <a href="https://orcid.org/trusted-parties">Trusted parties page</a>. See below for guidance regarding connecting your ORCID iD to Princeton.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('princeton_conversion')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        Why does the University want me to connect my ORCID iD to Princeton?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>The University would like you to link your ORCID to Princeton so that published works can be easily identified as belonging to Princeton faculty and staff. This allows the University to have more accurate and complete data pertaining to research activities.
                        Our goal is to reduce administrative burden for you! We are designing ways for you to send Princeton’s trusted data to your ORCID record to help you meet funder and publisher requirements. There are many ways to easily import trusted data into your ORCID record. Creating and/or connecting your ORCID iD to Princeton should take less than a minute.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('disconnect_id')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        Can I disconnect my ORCID iD from Princeton, or from any other organization?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>You may revoke permissions at any time. Go to the <a href="https://orcid.org/trusted-parties">Trusted parties page</a> and click Revoke access next to the name of the organization whose access you want to revoke. Revoking this permission means the organization will only be able to read information on your record that you have set as visible to everyone, as well as information that they themselves have added. The trusted organization will still have the ability to delete any items they have added even after the permission has been revoked but they will not be able to edit or add anything.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('SciENcv')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                        What is the relationship between ORCID and SciENcv?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p><a href="https://www.ncbi.nlm.nih.gov/sciencv/">SciENcv</a> and <a href="https://orcid.org/">ORCID</a> are two distinct tools that can be used together to facilitate the creation of CVs and biosketches. SciENcv is a web based tool that helps researchers assemble their CVs (ideally via directly importing data from ORCID). SciENcv also produces biosketches that are in federal sponsor approved formats. Though, the CVs that SciENcv generates may be used for general purposes.
                        ORCID essentially acts as an identity management tool that provides a persistent, unique identifier and a method of linking research related products such as publications and datasets to a researcher identifier. You can transfer information from ORCID into SciENcv and use these two systems together to streamline the process of creating CVs and biosketches.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('cv')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                        What is the relationship between ORCID and my CV?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Think of your ORCID iD as a robust/authoritative repository of information about your scholarly activity. Note that you are able to toggle in ORCID which data elements you may wish to make public or keep private (or include on a CV/biosketch you produce using the data). It may be less burdensome for you to maintain your ORCID iD than different versions of your CV in various formats and for various purposes. As noted above, you may use your ORCID iD together with SciENcv to generate a CV for any purpose.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onfocus="log_plausible_faq('fed_agencies')" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                        Are Federal Agencies requiring ORCID?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Not yet, it is optional but strongly recommended. It is expected that by May 2025 most federal agencies will have ORCID as a requirement on proposal submission documents and progress reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>