
  <% token_prompt ||= "There is no ORCID iD associated with your NetID, #{current_user.uid}" %>
  <div id="minting_a_token_explanation">
  <div class="lux">
    <lux-icon-base width="30" height="30" icon-name="denied" icon-color="red">
      <lux-icon-denied></lux-icon-denied>
    </lux-icon-base>
    <span><%= token_prompt %></span>
  </div>
  <div class="orcid-connect">
    <h2>Connect your ORCID iD </h2>
    <div class="line"></div>
    <div class="info-section flex-container">
      <div>
        <p>This button will take you to ORCID to sign and and will add Princeton University as a Trusted Organization.</p>
        <p>This will allow Princeton University to read your ORCID record and add information to it.</p>
      </div>
      <%= button_to( user_orcid_omniauth_authorize_path, class: "log-in-orcid primary-button") do %>
        <%= image_tag(vite_asset_path("images/ORCIDiD_icon32x32.png"), alt: "ORCID Logo") %>
        <span>Connect ORCID iD</span>
      <% end %>
    </div>
    <div class="info-section">
      <div>
        <%= link_to "Step by Step Tutorial", "https://libguides.princeton.edu/orcid-sciencv#s-lg-box-28907700", target: "_blank" %>
      </div>
    </div>
  </div>
</div>