# frozen_string_literal: true
dom_id user
 %>">
  <p>
    <div class="orcid_identifier">
# frozen_string_literal: true
full_orcid_display(user.orcid)
 %>
    </div>
  </p>
</div>

<% if user.valid_token %>
  <p>
# frozen_string_literal: true
user.valid_token.expiration.strftime("%m/%d/%Y")
 %>.
  </p>
<% end %>
