<hr>
<footer>
<div class="p-2 text-left bg-light">
  <div class="deployment-version">
      <text-style variation="strong">
        Version:
# frozen_string_literal: true
@version = VersionFooter.info
 %>
        <% if @version[:stale] %>
          (stale)
        <% end %>
# frozen_string_literal: true
@version[:sha]
 %>">
          <% if @version[:tagged_release] %>
# frozen_string_literal: true
@version[:branch]
 %></a>
          <% else %>
# frozen_string_literal: true
@version[:branch]
 %>,
          <% end %>
# frozen_string_literal: true
@version[:version]
 %>
        </span>
      </text-style>
    </div>
# frozen_string_literal: true
Date.current.year
 %> The Trustees of Princeton University
  </div>
</footer>
