<div>
You do not yet have an ORCID iD on file.

# frozen_string_literal: true
link_to "user edit page", edit_user_path(@user)
 %> and enter it.

# frozen_string_literal: true
link_to "please register with ORCID", "https://orcid.org/register"
 %> and then come back to this page.
</div>
