<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
  <h1>ORCID@Princeton</h1>
  <p>ORCID@Princeton is a service that allows Princeton University researchers to connect their ORCID iD to their Princeton identity. 
    This allows Princeton researchers to easily share their research activities with the Princeton community and beyond.</p>
</div>
