<div>
You do not yet have an ORCID iD on file.

If you have an ORCID iD, please go to the  <%= link_to "user edit page", edit_user_path(@user) %> and enter it.

If you do not yet have an ORCID iD, <%= link_to "please register with ORCID", "https://orcid.org/register" %> and then come back to this page.
</div>